# Ignore all (so executables with no extension are ignored)
*

# Include files with extensions
!*.*

# Include directories
!*/

# Include makefile
!makefile

# Begin actual ignores
bin/
*.o

*.swp
*.tmp
*.vim
